h1, h2, h3
{	
	text-align: center;
	color: black;
}	
div, li, p, form, label, input, headed, sector, article, footed
{
	text-size: 10 px;	
	text-align: center;
	color: black;
}
ul
{
	text-align: center;
	list-style-position: inside;
}
img
{
	border: 3px dashed black;
}
